* {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  box-sizing: border-box;
  z-index: auto;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-image: url(/img/background.jpg);
  background-size: cover;
  background-position: center;
}

.header {
  height: 15vh;
  width: 100%;
  position: sticky;
  z-index: 1;
}

.header_block {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 0 25px;
  box-shadow: 0px 4px 5px rgba(50, 50, 50, .4);
}

.header_title {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  text-align: left;
  color: black;
  text-decoration: none;
  font-size: 50px;
  font-weight: 300;
  padding: 20px 0;
}

.logo {
  object-fit: cover;
  height: 100%;
  border-radius: 50%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-size: 25px;
  font-weight: 300;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu a:hover {
  text-decoration: underline;
}

.content {
  display: block;
  font-size: 0;
  width: 100%;
  height: 100%;
  margin: auto auto;
  padding: 0 20px;
}

.overlay-card {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 20px;
  color: black;
  padding: 15px 15px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgba(50, 50, 50, .4);
}

.popup-card {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 60vw;
  max-height: 60vh;
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 15px 15px 15px 15px;
  margin: auto auto auto auto;
  box-shadow: 0px 0px 10px rgba(50, 50, 50, .4);
  animation-name: zoom;
  animation-duration: 0.5s;
}

.card-list {
  display: block;
  height: 90%;
  width: 700px;
  max-width: 50%;
  padding: 30px 15px 30px 15px;
  margin: 15px auto 15px auto;
}

.card-title {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  padding: 5px 5px 5px 5px;
  margin: auto auto auto auto;
}

.card-line {
  text-align: center;
  font-size: 28px;
  font-weight: 200;
  margin: auto auto auto auto;
}

.my-picture-image {
  object-fit: cover;
  width: 40%;
  max-width: 400px;
  border-radius: 50%;
  padding: 20px 20px 20px 20px;
  margin: auto auto auto auto;
  cursor: pointer;
  transition: 0.5s;
}

.slideshow-image {
  width: 25%;
  max-width: 400px;
  border-radius: 20px;
  margin: auto auto auto auto;
  cursor: pointer;
  transition: 0.5s;
}

.my-picture-image:hover,
.slideshow-image:hover {
  opacity: 0.8;
}

.modal-feedback-form,
.modal-slideshow {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  margin: auto auto auto auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-image {
  display: flex;
  width: 80%;
  max-width: 1000px;
  margin: auto auto auto auto;
  animation-name: zoom;
  animation-duration: 0.5s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close-button {
  cursor: pointer;
  position: absolute;
  padding: 5px 15px 5px 15px;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.5s;
}

.prev-button,
.next-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0px 3px 3px 0px;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.close-button:hover,
.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.footer {
  display: block;
  background-color: rgba(40, 40, 40, 0.7);
  color: white;
  height: 30vh;
  margin-bottom: 0px;
  padding: 20px 20px 20px 20px;
}

.footer-author {
  text-align: center;
  font-size: 24px;
  margin: 25px 25px 25px 25px;
}

.footer-line {
  text-align: left;
  font-size: 18px;
  margin: 20px 20px 20px 20px;
}

.footer-link {
  color: white;
}

.feedback-button {
  cursor: pointer;
  fill: #627fbf;
  position: fixed;
  z-index: 1;
  bottom: 50px;
  right: 50px;
  width: 10%;
  max-width: 150px;
  overflow: auto;
}

.feedback-button:hover {
  animation: 1.5s jiggle ease;
}

@keyframes jiggle {
  25% { transform: rotate(40deg); }
  75% { transform: rotate(-40deg); }
  100% { transform: rotate(0deg); }
}

.feedback-form {
  display: block;
  font-size: 18px;
  text-align: left;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 15px 25px 15px 25px;
  margin: auto auto auto auto;
}

.form-label {
  width: 100%; 
  margin: 15px auto 15px auto;
}

.form-field {
  height: auto;
  resize: vertical;
}

.form-input,
.form-field {
  width: 100%; 
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 15px auto 15px auto;
}

.form-submit {
  background-color: grey;
  color: black;
  padding: 10px 15px 10px 15px;
  margin: 15px auto 15px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.form-submit:hover,
.form-submit:focus {
  background-color: #0062ac;
}
